/* Typography */

html {
  font-family: "Roboto", sans-serif;
  --background: #ffffff;
  --color: #000000;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }

  body {
    max-width: 90vw;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  body {
    max-width: 85vw;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  body {
    max-width: 80vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  body {
    max-width: 75vw;
  }
}

/* Custom Styles */

body {
  background: var(--background, #ffffff);
  color: var(--color, #000000);
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

main > .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.link {
  color: var(--color, #000000);
}

.links .link[target="_blank"] ~ .fa-arrow-up-right-from-square {
  font-size: 0.8rem;
  margin-inline-start: 0.3rem;
}

.icons-social i {
  padding: 10px;
  font-size: 3em;
}

.icons-social a {
  color: var(--color, #000000);
}

.icons-social a svg path {
  fill: var(--color, #000000);
}

footer {
  min-height: 2rem;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-block-end: 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explanation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.en {
  font-style: italic;
}

.en::before {
  content: "\01F1EC \01F1E7 "; /* 🇬🇧 */
  font-style: normal;
}

.fr::before {
  content: "\01F1EB \01F1F7 "; /* 🇫🇷 */
  font-style: normal;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 60%;
  border: none;
  border-top: 1px solid var(--color, #000000);
}

.vertical-separator {
  display: inline-block;
  width: 1px;
  height: 1em;
  border-left: 1px solid var(--color, #000000);
  margin-inline: 1rem;
}
